<% if @user.master == true %>
  <h1>Hi Master!!</h1>
  <%= link_to "Illusions", tags_path %>
<% else %>
  <h1>Howdy Apprentice!!</h1>
<% end %>

<%= link_to 'Add a new Illusion', new_illusion_path %>

<p>Here are your stars:</p>
<% if @user.starrings.length > 0 %>
  <ul>
  <% @user.starrings.each do |starring| %>
    <li><%= link_to starring.illusion.title, illusion_path %> - <%=  link_to 'remove', delete_starring_path(current_user.id, starring.id,), method: :delete, data: {confirm: 'Are you sure?'} %>
    </li>
  <% end %>
  </ul>
<% end %>
