<h2>Tags</h2>
<ul>
<% if current_user %>
  <% Tag.find_appropriate_tags(current_user).each do |tag| %>
    <li><%= link_to tag.name, tag %></li>
  <% end %>
<% else %>
  <% Tag.find_appropriate_unlogged_in_tags.each do |tag| %>
    <li><%= link_to tag.name, tag %></li>
  <% end %>
 <% end %>
</ul>
