<h2>Tag: <%= @tag.name %></h2>

<ul class="collection">
<% @tag.illusions.where(intense: intense?).each do |illusion| %>
  <li><%= link_to illusion.title, illusion, class: "collection-item" %></li>
<% end %>
</ul>
