 <!-- masters-only illusions -->

<%= form_tag illusions_path, method: 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

  <ul class="collection">
  <% @illusions.each do |illusion| %>
    <li><%= link_to illusion.title, illusion, class: "collection-item" %></li>
  <% end %>
  </ul>


